.main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f44336;
    opacity: 0.8;
    background-image: url("../../assets/img/planeOp.png");
    background-size: cover;
}
.card{
    height: 90%;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    
    
}
.img {
  
    /* background-image: url("../../assets/img/planeOp.png"); */
    background-size: cover;
    width: 100%;
    height: 100%;

}

.logo{
    margin: auto;
}
.form{
    color: #f44336;
    font-weight: bold;
    font-size: 20px;
}
input{
    height: 60px;
}
.mainrow{
    margin-top: 5%;
    height: 100%;
}
button{
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 50px;
}
.form-control:focus {
    border-color: #f44336;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }
  .form-control:valid{
    background-image: linear-gradient(to top, #f44336 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  }
.mat-select:active{
    border-color: #f44336;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}